.searchField {
    background-color: #ffffff;
    margin-bottom: 3vh;
    padding: 1vh;
    border-radius: 6px;
    box-shadow: 0 4px 10px #cfcfcf;
}

.searchIcon {
    fill: #4b4b4b;
    width: 11px;
}

.iconSort{
    color: #787878;
}