.taskItem{
    width: 100%;
    padding: 20px;
        border: 1px solid var(     --mantine-color-disabled-border);
}

.iconEdit{
    fill: #7a7a7a;
    width: 11px;
}

.iconDelete{
    color: #7a7a7a;
    width: 15px;
}

.iconButton{
    padding: 5px;
    /* width: 20px; */
}

.dateText{
    color: #7a7a7a
}