.taskItem{
    width: 100%;
    padding: 20px;
}

.iconEdit{
    fill: rgb(99, 99, 99);
    width: 11px;
}

.iconDelete{
    color: rgb(52, 52, 52);
    width: 15px;
}

.iconButton{
    padding: 5px;
    /* width: 20px; */
}

.dateText{
    color: #7a7a7a
}